.vertical-center {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

body > * {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

.medaillon {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.d-flex{
    gap: 3em;
}